.cormorant {
    font-family: 'Cormorant Garamond', serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.pt-serif {
    font-family: 'PT Serif', serif;
}

.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.amiri {
    font-family: 'Amiri', serif;
}
