.main-heading {
    font-size: 5vw
}

.app-title {
    height: 6vw;
}

.form-frame-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1280px) {
    .main-heading {
        font-size: 4.2rem;
    }

    .app-title {
        height: 4.5rem;
    }

    .form-frame-container {
        flex-direction: row;
    }
}
