.combine-area {
  background-color: rgba(155, 77, 202, 0.2);
  padding: 1rem;
  border: 1px solid rgba(155, 77, 202, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: space-around;
  margin-bottom: 1rem;
}

.combine-area p {
  padding: 0;
  margin: 0;
  color: darkslategray;
}

.combine-area:hover {
  cursor: pointer;
}
