.display-frame-wrapper {
    width: 100%;
}

.display-frame {
    height: 1200px;
    width: 100%;
}

@media (min-width: 1280px) {
    .display-frame-wrapper {
        width: 67%;
        height: 100%;
    }

}
