.app-container {
  height: 94vh;
}

.main-heading {
  font-size: 5vw;
}

.app-title {
  height: 6vw;
  margin: 1rem 0;
}

.app-heading {
  margin: 1rem 0;
  height: 4vh;
}

.form-frame-container {
  display: flex;
  flex-direction: column;
  height: 84vh;
}

.mt-1 {
  margin-top: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pt-4 {
  padding-top: 2rem;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

@media (min-width: 1280px) {
  .main-heading {
    font-size: 4.2rem;
  }

  .app-title {
    height: 4.5rem;
  }

  .form-frame-container {
    flex-direction: row;
  }
}
